@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.change-cursor {
  cursor: grab;
  user-select: none;
}

.hero-heading {
  font-size: clamp(40px, 8vw, 80px);
}

.hero-action-heading {
  font-size: clamp(20px, 1vw, 60px);
}
