@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"),
    url("/fonts/montserrat-v24-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/montserrat-v24-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"),
    url("/fonts/roboto-v30-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans Semi Bold"),
    url("/fonts/open-sans-v29-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v29-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.change-cursor {
  cursor: grab;
  user-select: none;
}

.hero-heading {
  font-size: clamp(40px, 8vw, 80px);
}

.hero-action-heading {
  font-size: clamp(20px, 1vw, 60px);
}

.moon {
  box-shadow: 30px 24px #fff, 30px 24px 8px 5px #fff;
}
